/* See /fonts/credit.txt */

@font-face {
  font-family: Lucette;
  src: url("../fonts/Lucette-Regular.woff2");
}

@font-face {
  font-family: Lucette;
  font-style: italic;
  src: url("../fonts/Lucette-Regular-Italic.woff2");
}

@font-face {
  font-family: Avara;
  font-weight: bold;
  src: url("../fonts/Avara-Bold.woff2");
}

@font-face {
  font-family: Avara;
  /*Why be bold when you could be bolder?*/
  font-weight: bolder;
  /*But because most browsers understand numbers better than semantics...*/
  font-weight: 900;
  src: url("../fonts/Avara-Black.woff2");
}

@font-face {
  font-family: Avara;
  font-style: italic;
  src: url("../fonts/Avara-BoldItalic.woff2");
}

:root {
  --background: #fff;
  --text: #000;
}

* {
  font-family: Lucette, serif;
  color: var(--text);
}

body {
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Avara;
}

h1 {
  padding-top: 24px;
}

h2 {
  padding-top: 34px;
  font-weight: bolder;
  font-weight: 900;
}

strong,
b {
  font-family: Avara;
  font-weight: bolder;
  font-weight: 900;
}

ul {
  list-style: georgian;
}

button {
  background: var(--background);
  box-shadow: 0px 2px 2px 2px var(--text);
  padding: 5px 10px;
  border: 2px solid var(--text);
  border-radius: 5px;
  cursor: pointer;
}

footer {
  font-size: 24px;
  font-style: italic;
  margin: 60px 0 100px 0;
}

p,
button,
i,
li {
  font-size: 24px;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/*  Generics  */
.bold {
  font-family: Avara;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/*  Specifics  */
#container {
  margin: 0 auto;
  max-width: 800px;
}

#timer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: var(--background);
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
  text-align: center;
}

#timer__time {
  font-size: 48px;
  font-family: Avara;
}

#timer__toggle {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

#timer__toggle > p {
  margin: 0;
}
